be-v2/target
be-v2/logs
be-v2/.mvn
be-v2/src/main/resources/application.properties

frontend/node_modules
frontend/dist
frontend/package-lock.json
frontend/.angular

pharmacy-fe/node_modules
pharmacy-fe/dist
pharmacy-fe/package-lock.json
