.wrapper {
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 50px);
  margin-top: -11em;
  margin-left: -13em;
  background: #ffffff;
  color: black;
  padding: 40px;
  box-shadow: 2px 0 20px #bbb;
  width: 460px !important;
  opacity: 0.9;
  border-radius: 10px;
  text-align: center;
}

.form-group {
  text-align: left;
}
