<div class="wrapper">
  <h1 class="mt-4">Login</h1>
  <div *ngIf="errorMsg" class="alert alert-danger" role="alert" [innerHtml]="errorMsg"></div>
  <form (ngSubmit)="loginFormSubmitted()">
    <div class="form-group mt-4">
      <label style="font-size: 1.5rem;" for="Username">Username</label>
      <input name="username" type="text" class="form-control form-control-lg" id="Username" aria-describedby="emailHelp" [(ngModel)]="username">
    </div>
    <div class="form-group mt-4">
      <label style="font-size: 1.5rem;" for="Username">Password</label>
      <input name="password" type="password" class="form-control form-control-lg" id="Username" aria-describedby="emailHelp" [(ngModel)]="password">
    </div>
    <div class="btn-group mt-4">
      <button type="submit" class="btn btn-lg btn-primary">Login</button>
    </div>
  </form>
</div>
