<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 ml-1 d-flex align-items-center" (click)="homeLinkClicked.emit(true)">
    <b class="h3 align-middle mb-0 mr-3 pharmacy-logo">☤</b>
    <span>
      <span
        style="color: #14c1ff"><b>L</b>&nbsp;&nbsp;<b>A</b>&nbsp;&nbsp;<b>N</b>&nbsp;&nbsp;<b>A</b>&nbsp;&nbsp;</span>
      <span class="font-weight-light" style="font-size: 1rem;">P H A R M A C Y</span>
    </span>
    <small class="text-light font-weight-light version">{{ appVersion }}</small>
  </a>

  <ul class="navbar-nav px-3">

    <button id="btn" type="button" icon="pi pi-bars" label="Show" (click)="menu.toggle($event)">
      <i class="fas fa-chevron-down"></i>&nbsp;
      {{displayName}}&nbsp;
      <i class="far fa-user-circle"></i>
    </button>
    <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
  </ul>
</nav>
