nav {
  min-height: 3rem;
  background-color: #172734;
}

.version {
  font-size: 50%;
  margin-left: 0.652rem;
  align-self: flex-end;
}

.pharmacy-logo {
  margin-left: 0.125rem;
}

#btn {
  background-color: #172834;
  color: white;
  border: 0;
}

.navbar-brand {
  cursor: pointer;
}
