spring.application.name=Lana Pharmacy
server.port=3001

# Log
logging.path=logs
logging.level.root=INFO
logging.level.web=INFO

spring.data.mongodb.host=localhost
spring.data.mongodb.port=27017
spring.data.mongodb.database=Pharmacy

# Banner
spring.banner.location=classpath:./lana_pharmacy_banner.txt
