<p-toast [baseZIndex]="1000"></p-toast>
<app-loader [isLoading]="isLoading"></app-loader>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="row ml-0">
  <!-- Left col -->
  <div class="w-col col-10">

    <div class="p-d-flex mt-2 mb-3">
      <span class="p-input-icon-left p-ml-auto w-100">
        <p>Search Drugs by name</p>
        <p-autoComplete emptyMessage="No drug with such name found" [(ngModel)]="drugName"
          [suggestions]="drugNameSearchResults" (completeMethod)="searchDrugByName($event)"
          (onSelect)="addSelectedDrugFromNameSearchToBill($event)">
        </p-autoComplete>
      </span>
    </div>

    <div class="p-d-flex mt-3 mb-3">
      <span class="p-input-icon-left p-ml-auto w-100">
        <h5>Search Drugs by barcode</h5>
        <p-autoComplete [autofocus]="true" emptyMessage="No drug with such barcode found" [(ngModel)]="drugBarcode"
          [suggestions]="drugBarcodeSearchResults" (completeMethod)="searchDrugByBarcode($event)"
          (onSelect)="addSelectedDrugFromBarcodeSearchToBill($event)" (onKeyUp)="barcodeFieldKeyUp($event)">
          <ng-template let-brand pTemplate="item">
            <div>{{ brand.name }}</div>
            <div>{{ brand.barcode }}</div>
          </ng-template>
        </p-autoComplete>
      </span>
    </div>

    <p-table [value]="this.entityEditorFormModel.items" dataKey="id" styleClass="p-datatable-sm p-datatable-striped" [autoLayout]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>Barode</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th class="delete-cell">
            <div class="row justify-content-center"><i class="pi pi-times"></i></div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            {{product.drug.barcode}}
          </td>
          <td>
            {{product.drug.name}}
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="number" [(ngModel)]="product.price">
              </ng-template>
              <ng-template pTemplate="output">
                {{product.price | currency: 'ILS'}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="number" [(ngModel)]="product.quantity">
              </ng-template>
              <ng-template pTemplate="output">
                {{product.quantity}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            {{product.quantity * product.price | currency: 'ILS'}}
          </td>
          <td class="delete-cell">
            <div class="row justify-content-center">
              <button pButton class="p-button-danger p-button-text" type="button" icon="pi pi-times"
                (click)="deleteBillItem(product.drug.barcode)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- End Of Left col -->

  <!-- Right col -->
  <div class="w-col col-2" style="background-color: #325470;">
    <h3 class="text-white mt-3">Total</h3>
    <hr style="background-color: #172834; width: 80%; margin-left: -0.5rem;" />
    <h3 class="text-white mt-3">{{ getTotal() | currency: 'ILS'}}</h3>
    <br />
    <h5 class="text-white mt-3">Discount By Percentage</h5>
    <hr style="background-color: #172834; width: 80%; margin-left: -0.5rem;" />
    <p-inputNumber [(ngModel)]="this.entityEditorFormModel.discountPercentage" prefix="%"></p-inputNumber>
    <br /><br />
    <h5 class="text-white mt-3">Discount Amount (ILS)</h5>
    <hr style="background-color: #172834; width: 80%; margin-left: -0.5rem;" />
    <p-inputNumber [(ngModel)]="this.entityEditorFormModel.discountAmount" mode="currency" currency="ILS"></p-inputNumber>
    <br /><br /><br /><br />
    <div class="row justify-content-center">
      <button pButton type="button" class="p-button-lg mr-4" label="SAVE" (click)="submitEntityModal()"></button>
    </div>


  </div>
  <!-- End Of Right col -->

</div>
